<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WRST_Caribou_5.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WRST_Caribou_5.My.MySettings.WRST_CaribouConnectionString1"
            connectionString="Data Source=inpyugamsvm01\nuna;Initial Catalog=WRST_Caribou;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WRST_Caribou_5.My.MySettings>
            <setting name="WRST_CaribouConnectionString" serializeAs="String">
                <value>Server=inpyugamsvm01\nuna;Database=WRST_Caribou;Trusted_Connection=True</value>
            </setting>
            <setting name="Animal_MovementConnectionString" serializeAs="String">
                <value>Server=inpakrovmais;Database=Animal_Movement;Trusted_Connection=True</value>
            </setting>
        </WRST_Caribou_5.My.MySettings>
    </userSettings>
</configuration>